* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 44px;
  width: 100vw;
}

.header-menu {
  display: none;
}

.items {
  display: flex;
  gap: 24px;
}

.vector {
  gap: 24px;
  display: flex;
}

.bosoo {
  display: none;
}

.tablet {
  display: none;
}

.head {
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 100vw;
  display: flex;
}

.pro {
  width: 100vw;
  height: 692px;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.pro img {
  width: 100vw;
  height: 692px;
}
.pro1 {
  width: 405px;
  height: 172px;
  position: absolute;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.pro1 h1 {
  font-size: 52px;
  font-style: bold;
}

.pro1 p {
  font-size: 24px;
}

.learn {
  display: flex;
  gap: 10px;
}

.learn h1 {
  background: rgba(0, 113, 227, 1);
  border-radius: 999px;
  font-size: 16px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn h2 {
  color: rgba(0, 113, 227, 1);
  font-size: 16px;
  width: 68px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid rgba(41, 151, 255, 1);
}

.ip {
  width: 100vw;
  height: 692px;
  justify-content: center;
  display: flex;
  gap: 12px;
}

.back1 {
  width: 100vw;
  height: 692px;
}

.ip16 {
  width: 405px;
  height: 172px;
  position: absolute;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.ip1 {
  display: flex;
  gap: 10px;
}

.ip16 h1 {
  font-size: 52px;
  font-style: bold;
}

.ip16 p {
  font-size: 24px;
}

.ip1 {
  display: flex;
  gap: 10px;
}

.ip1 h1 {
  background: rgb(251, 251, 251);
  border-radius: 999px;
  font-size: 16px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.ip1 h2 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  width: 68px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid rgb(255, 255, 255);
}

.gift {
  width: 100vw;
  height: 692px;
  justify-content: center;
  display: flex;
  gap: 12px;
  align-items: end;
}

.gift2 {
  display: none;
  background-image: url(haha.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.magic2 {
  padding-top: 30px;
  width: 100vw;
  height: 146px;
  position: absolute;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.shop2 {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.shop2 h1 {
  background: blue;
  border-radius: 999px;
  font-size: 16px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.shop2 h2 {
  color: rgb(30, 0, 255);
  font-size: 16px;
  width: 68px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid rgb(4, 0, 255);
}

.h {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  width: 100vw;
  height: 18px;
  background: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 14px;
  position: absolute;
  padding-top: 600px;
}

.magic {
  width: 405px;
  height: 172px;
  position: absolute;
  color: rgb(0, 0, 0);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}

.magic h1 {
  font-size: 52px;
  font-style: bold;
}

.magic p {
  font-size: 24px;
}

.shop {
  display: flex;
  text-align: center;
}

.gift img {
  width: 100vw;
  height: 692px;
}

.shop h1 {
  background: blue;
  border-radius: 999px;
  font-size: 16px;
  width: 144px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.pad {
  /* width: 50vw; */
  height: 580px;
  display: flex;
  justify-content: center;
  background-image: url(Figure\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pad img {
  width: 50vw;
  height: 580px;
}

.ipad {
  padding-top: 30px;
  width: 322px;
  height: 146px;
  position: absolute;
  color: rgb(0, 0, 0);
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.air {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.air h1 {
  background: blue;
  border-radius: 999px;
  font-size: 16px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.air h2 {
  color: rgb(30, 0, 255);
  font-size: 16px;
  width: 68px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}

.f {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  width: 169px;
  height: 18px;
  background: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 14px;
  position: absolute;
  padding-top: 550px;
}

/* .airpods2 {
  display: none;
  background-image: url(tsag.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.airpods3 {
  padding-top: 30px;
  width: 100vw;
  height: 146px;
  position: absolute;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.buya {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buya h1 {
  background: blue;
  border-radius: 999px;
  font-size: 16px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.buya h2 {
  color: rgb(30, 0, 255);
  font-size: 16px;
  width: 68px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid rgb(4, 0, 255);
} */

.airpod {
  /* width: 50vw; */
  height: 580px;
  background-image: url(airpod.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.airpods {
  width: 322px;
  height: 146px;
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  gap: 16px;
  font-size: 18px;
}

.buy {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buy h1 {
  background: blue;
  border-radius: 999px;
  font-size: 16px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.buy h2 {
  color: rgb(30, 0, 255);
  font-size: 16px;
  width: 68px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid rgb(4, 0, 255);
}

.iwatch {
  /* width: 50vw; */
  height: 580px;
  background-image: url(Figure\ 4.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.watch {
  width: 322px;
  height: 146px;
  position: absolute;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 18px;
}
.logo img {
  height: 32px;
  width: 27px;
}

.bu {
  display: flex;
  gap: 10px;
}

.bu h1 {
  background: rgba(0, 113, 227, 1);
  border-radius: 999px;
  font-size: 16px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bu h2 {
  color: rgba(0, 113, 227, 1);
  font-size: 16px;
  width: 68px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid rgba(41, 151, 255, 1);
}

.macbook {
  /* width: 100%; */
  height: 580px;
  background-image: url(Figure\ 5.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.mac {
  width: 370px;
  height: 121px;
  position: absolute;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.m3 {
  display: flex;
  gap: 10px;
}

.m3 h1 {
  background: rgba(0, 113, 227, 1);
  border-radius: 999px;
  font-size: 16px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m3 h2 {
  color: rgba(0, 113, 227, 1);
  font-size: 16px;
  width: 68px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid rgba(41, 151, 255, 1);
}

.trade {
  height: 580px;
  background-image: url(trade.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.old {
  width: 370px;
  height: 121px;
  position: absolute;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.new {
  display: flex;
  gap: 10px;
}

.new h1 {
  background: rgba(0, 113, 227, 1);
  border-radius: 999px;
  color: white;
  font-size: 16px;
  width: 167px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 580px;
  background-image: url(card.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  text-align: center;
}

.card1 {
  width: 370px;
  height: 121px;
  position: absolute;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.card2 {
  display: flex;
  gap: 10px;
}

.card2 h1 {
  background: rgba(0, 113, 227, 1);
  border-radius: 999px;
  color: white;
  font-size: 16px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2 h2 {
  color: rgba(0, 113, 227, 1);
  font-size: 16px;
  width: 68px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid rgba(41, 151, 255, 1);
}

.container1 {
  width: 100vw;
  /* height: 668px; */
  display: flex;
  column-gap: 15px;
  overflow-x: scroll;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.container3 {
  width: 100vw;
  overflow: hidden;
  height: 292px;
  display: flex;
  align-items: center;
  align-content: center;
}

.container2 {
  width: fit-content;
  display: flex;
  column-gap: 15px;
  align-content: center;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  animation: slider 20s infinite linear;
}

.web1 {
  display: flex;
  align-items: center;
  background-image: url(2k25.jpg);
  background-position: center;
  background-size: cover;
  width: 413px;
  height: 236px;
  align-items: flex-end;
  padding-left: 10px;
  padding-bottom: 8px;
  /* position: relative;
  overflow: hidden; */
}

.web1 h1 {
  font-size: 20px;
  color: #fffefe;
}

.web2 {
  display: flex;
  align-items: center;
  width: 417px;
  height: 235px;
  background-color: brown;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.web2 h1 {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.web2 img {
  width: 196px;
  height: 196px;
}

.web3 {
  display: flex;
  align-items: center;
  background-image: url(run.jpg);
  background-position: center;
  background-size: cover;
  width: 413px;
  height: 236px;
  align-items: flex-end;
  padding-left: 10px;
  padding-bottom: 8px;
}

.web3 h1 {
  font-size: 20px;
  color: #ffffff;
}

.web4 {
  display: flex;
  align-items: center;
  width: 417px;
  height: 235px;
  background-color: gray;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.web4 h1 {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.web4 img {
  width: 196px;
  height: 196px;
}

.web5 {
  display: flex;
  align-items: center;
  background-image: url(kitty.jpg);
  background-position: center;
  background-size: cover;
  width: 413px;
  height: 236px;
  padding-left: 10px;
  padding-bottom: 8px;
  align-items: flex-end;
}

.web5 h1 {
  color: white;
  font-size: 20px;
}

.web {
  display: flex;
  align-items: center;
  background-image: url(football.jpg);
  background-position: center;
  background-size: cover;
  width: 413px;
  height: 236px;
  padding-left: 10px;
  padding-bottom: 8px;
  align-items: flex-end;
}

.web h1 {
  color: white;
  font-size: 20px;
}

.web6 {
  display: flex;
  align-items: center;
  background-image: url(fitness.jpg);
  background-position: center;
  background-size: cover;
  width: 413px;
  height: 236px;
  padding-left: 10px;
  padding-bottom: 8px;
  align-items: flex-end;
}

.web6 h1 {
  color: white;
  font-size: 20px;
}

.web7 {
  display: flex;
  align-items: center;
  background-image: url(stregth\ .jpg);
  background-position: center;
  background-size: cover;
  width: 413px;
  height: 236px;
  padding-left: 10px;
  padding-bottom: 8px;
  align-items: flex-end;
}

.web7 h1 {
  font-size: 20px;
  color: white;
}

.web8 {
  display: flex;
  align-items: center;
  width: 417px;
  height: 235px;
  background-color: rgb(23, 23, 131);
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.web8 h1 {
  font-size: 30px;
  color: white;
}

.web8 img {
  width: 196px;
  height: 196px;
}

.web9 {
  display: flex;
  align-items: center;
  width: 417px;
  height: 235px;
  background-color: beige;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.web9 img {
  width: 196px;
  height: 196px;
}

.web9 h1 {
  font-size: 30px;
  color: white;
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.lady {
  display: none ;
  background-image: url(hvvhen.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.cobe {
  padding-top: 350px;
  width: 241px;
  height: 161px;
  gap: 5px;
  position: absolute;
  color: rgb(255, 255, 255);
  display: flex;
  text-align: center;
  font-size: 18px;
  flex-direction: column;
  padding-left: 50px;
}

.ai {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.ai h1 {
  background: blue;
  border-radius: 999px;
  font-size: 16px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.ai h2 {
  color: rgb(30, 0, 255);
  font-size: 16px;
  width: 68px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid rgb(4, 0, 255);
}

@media (max-width: 768px) {
  .header-menu {
    display: block;
  }
  .items {
    display: none;
  }
  .header {
    justify-content: space-between;
  }
  .tablet {
    display: block;
  }
  .bosoo {
    display: none;
  }
  .hewtee {
    display: none;
  }
  .gift2 {
    display: block;
  }
  .gift {
    display: none;
  }
  .pad {
    display: none;
  }
  .airpod {
    display: none;
  }
  .airpods2 {
    display: block;
  }
  .lady {
    display: block;
  }
}

@media (max-width: 390px) {
  .bosoo {
    display: block;
  }
  .hewtee {
    display: none;
  }
  .tablet {
    display: none;
  }
  .pro {
    align-items: flex-end;
  }
  .pro1 {
    padding-bottom: 50px;
  }
}
